input {
    margin-left: 10px;
    padding-left: 10px;
}

#payBtn {
    margin-left: 30px;
    background-color: greenyellow;
    
    padding: 12px;
    border-radius: 15px;
}

h4 {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

form {display: flex;
    justify-content: center;
   margin: 10px auto 10px auto;
}