#divProductos {
    margin-top: 60px;
    margin-bottom: 60px;
}

img {
    width: 18vw;
    height: 18vw;
    /* align-content: center;
    justify-content: center;
    align-items: center ; */
    justify-items: center;
}



.card {
    width: 20vw;
    height: 25vw;
    margin: 10px 5px 5px 10px;
    display: flex;
    display: inline-block;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: red 1px solid;

}

#detailInfo {
width: 80%;
border: green 1px solid;
margin-left: auto;
margin-right: auto;
background-color: #dfdf98;

}
#detailDiv {
    width: 100%;
    border: brown 1px solid;
    margin-top: 10px;
    
    }

#detailButton {
    width: 30%;
    border: brown 1px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: salmon;
    
    }
    