#divProductos {
  margin-top: 60px;
  margin-bottom: 60px;
}

img {
  width: 15vw;
  height: 15vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}

.card {
  width: 15vw;
  height: 25vw;
  margin: 10px 5px 5px 10px;
  display: flex;
  display: inline-block;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: red 1px solid;
  background-color: silver;
}

#detailInfo {
  width: 80%;
  border: green 1px solid;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdf98;
}
#detailDiv {
  width: 80%;
  border: brown 1px solid;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#detailButton {
  width: 50%;
  border: brown 1px solid;
  margin-top: 5px;

  margin-left: auto;
  margin-right: auto;
  background-color: salmon;
}
