.card {
  width: 18vw;
  height: 29vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px 5px 5px 10px;
  display: flex;
  display: inline-block;
  justify-items: center;
  flex-wrap: wrap;
  border: silver 1px solid;
  background-color: wheat;
}

img {
  width: 100%;
  height: 18vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

#detailInfo {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
}

#detailButton {
  width: 50%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border-radius: 3px;
  border: brown 1px solid;
  margin-top: 15px;
  background-color: salmon;
}
