header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darksalmon;
}

navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

nav {
    padding: 5px;
    color: darkturquoise;
    text-decoration: deeppink;
}

