footer {
  background-color: #d4c069;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}


